.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

img/*
renv/*
docs/renv/*
docs/renv.lock
_site1.yml

docs/Makefile
docs/make_subdirs
docs/**/*.Rmd
docs/**/*.yml
docs/**/data/*
docs/lib/*
docs/**/*cache
docs/slides_top/*
docs/toplevel/*
#docs/slides/lectures/week*/img/*

slides/lectures/**/*.pdf
slides/lectures/data/*
slides/lectures/img/*
slides/**/*cache/*
slides/**/Makefile
slides/**/*.html
slides/**/*_files/*
slides/lectures/data
