@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap')

body{
  font-family: Lato;
  font-size: 11pt;
}
p {
  font-size: 12pt;
}
ul:not(.nav) {
  font-size: 12pt;
}
.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

blockquote {
  font-size: 90%;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: beige;
}
